// Place all the styles related to the Salons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{
  width: 700px;
  height: 400px;
}
.txt{
  width: 250px;
}
.no_scroll{
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #343a40;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.scrolled{
  position: fixed;
  top: 0;
  z-index: 2;
//  padding-bottom: 1.5rem;
//  padding-top: 1.5rem;
  margin-bottom: 1rem;
  background-color: #343a40;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: 1140px;
}

.access_text{
  padding-left: 15rem;
}

.menu_text{
  padding-left: 15rem;
}

ul{
  list-style: none;
}
