// Place all the styles related to the Salons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{
  width: 700px;
  height: 400px;
}
.txt{
  width: 250px;
}
